*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body{
	background-color: #ddd;
}

header{
	background-color: pink;
	height: 70px;
	box-shadow: 0 0 10px black;
}

a{
	text-decoration: none;
}

.title{
	float: left;
	padding: 10px;
	padding-left: 20px;
	padding-top: 20px;
}

main ol{
	padding-left: 50px;
	margin: 50px 0;
}

main li{
	padding: 10px 0;
}

footer p{
	text-align: center;
	padding: 10px 0;
}